//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

body{
	background:#841013;
}

.main{
	margin-top: 89px;
	padding:0!important;
	float:none!important;
	font-family: 'Lato', sans-serif;
}

/*.alignLeft{
	text-align:left!important;
}

.alignCenter{
	text-align:Center!important;
}

.alignRight{
	text-align:right!important;
}*/

.italic{
	font-style:italic;
}

.noPadding{
	padding:0!important;
}

.img-responsive{
	width:100%;
	max-width:auto;
}

p{
	margin-bottom:20px;
}

a{
	&:hover, &:focus{
		text-decoration:none;
	}
}

.nice-select{
	border: medium none !important;
    font-weight: 300 !important;
    height: 25px !important;
    line-height: 140% !important;
    padding-left: 10px !important;
    padding-right: 25px !important;
	letter-spacing:1px;
	
	&:after{
		border-color: rgba(173, 0, 0, 0.2) !important;
		height: 10px !important;
		margin-top: -8px !important;
		right: 10px !important;
		width: 10px !important;
	}
	
	.current{
		border-bottom:1px solid rgba(173, 0, 0, 0.2);
		color:#000;
	}
	
	.list{
		border:1px solid rgba(180, 145, 91, 0.2);
		box-shadow: none!important;
	}
	
	.option{
		font-weight:300!important;
		
		&.selected{
			font-weight:normal!important;
		}
	}
}

#html5-watermark{
	//display:none!important;
}

.video_link{
	position:relative;
	display:block;
	
	&:after{
		content:'';
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		background:url(../img/btn_video_play.png) no-repeat;
		width:88px;
		height:89px;
	}
}



//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.main{
		margin-top: 143px;
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.container{
		width:1033px!important;
	}
}

/*//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-xl-min) {
	.container{
		width:1033px!important;
	}
}*/